<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <a href="/users">Home</a>
    <a href="/owner">Owner</a>
    <h1>Allergy (NOT) Free</h1>
    {{{body}}}
</body>
</html>

