<h1>Users</h1>

{{#each users}}
<a href="/users/{{_id}}">{{username}}</a>
{{/each}}


<form action="/users" method=POST>
<input type="text" name="username" placeholder="Username">
<input type="text" name="name" placeholder="Name">
<input type="submit" value="Register">
</form>